body {
  background-color: antiquewhite;
}

div.content {
  text-align: center;
}

div.experience ul {
  list-style-type: none;
  padding-inline-start: 0;
}

h1 {
  font-family: 'Lora', serif;
}

li {
  font-family: 'Roboto', sans-serif;
}
