body {
  background-color: antiquewhite;
  padding-left: 250px;
  padding-top: 150px;
}

div.experience ul {
  list-style-type: none;
  padding-inline-start: 0;
}

h1 {
  font-family: 'Lora', serif;    
  font-weight: 'regular';
  background-color: black;
  color: antiquewhite;
  width: 250px;
  padding: 5px;
}

li {
  font-family: 'Montserrat', sans-serif;
}

a {
  font-family: 'Montserrat', sans-serif;
  color: red;
  text-decoration: none;
}
